<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <p><a ui-sref=".home"><img src="public/shared/images/logo.png" alt="FreshFlesh Logo" /></a>
                FreshFlesh is an online survival MMO. Team up and survive round based zombie hordes to improve your skill and level and become the greatest zombie slayer of all time!</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                <h3>Follow us!</h3>
                 <a ui-sref="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a ui-sref="#" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                <a ui-sref="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                <h3>Or contact us directly!</h3>
                <p>info@freshflesh.com</p>
            </div>
        </div>
    </div>
</footer>
